<nav class="mobile-navigation-wrap">
  <ul>
    <li>
      <img
        src="./images/footer/links/home-icon-svgrepo-com.svg"
        alt="home"
      /><span>HOME</span>
    </li>
    <li>
      <img src="./images/footer/links/cart-svgrepo-com.svg" alt="home" /><span
        >SHOP</span
      >
    </li>
    <li>
      <img src="./images/footer/links/about-svgrepo-com.svg" alt="home" /><span
        >ABOUT</span
      >
    </li>
    <li>
      <img
        src="./images/footer/links/contact-svgrepo-com.svg"
        alt="home"
      /><span>CONTACT</span>
    </li>
  </ul>
</nav>
