<nav class="nav-main-wrapper">
  <ul class="nav-list-wrapper">
    <li class="logo">
      <img src="./images/navigation/logo.png" alt="webpage logo" />
    </li>
    <li class="web-title"><h1>LUMINOSUS</h1></li>
    <li class="nav-links-group">
      <ul class="nav-links-group-wrap">
        <li class="links"><a href="">HOME</a></li>
        <li class="links"><a href="">SHOP</a></li>
        <li class="links"><a href="">ABOUT</a></li>
        <li class="links"><a href="">CONTACT</a></li>
      </ul>
    </li>
  </ul>
</nav>
