<nav class="nav-main-wrapper">
  <ul class="nav-list-wrapper">
    <li class="logo">
      <img
        src="./images/navigation/logo.webp"
        alt="webpage logo"
        loading="lazy"
      />
    </li>
    <li class="nav-links-group">
      <ul class="nav-links-group-wrap">
        <li class="links"><a href="index.html">HOME</a></li>
        <li class="links">
          <a href="shop.html">SHOP</a>
        </li>
        <li class="links"><a href="about.html">ABOUT</a></li>
        <li class="links"><a href="contact.html">CONTACT</a></li>
      </ul>
    </li>
    <li>
      <ul class="nav-policy-cart-wrap">
        <li>
          <a href="policy.html"
            ><img
              src="./images/navigation/return-box-cycle-svgrepo-com.svg"
              alt=""
            /><span class="tooltip-box">Refund policy</span></a
          >
        </li>
        <li>
          <button type="button" class="cart-button" id="show-cart">
            <img
              src="./images/navigation/icon-cart-white.svg"
              alt="cart"
            /><span class="tooltip-cart">Cart</span
            ><span id="cart-count">0</span>
          </button>
        </li>
      </ul>
    </li>
  </ul>
</nav>
